/*css for the body of the document*/
body {
  margin-top: 45px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

/*css for the entire document */
.app {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  z-index: 1000;
}

/*Uses the Manrope font (manropefont.com)*/
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/web/Manrope-Regular.woff2') format('woff2'),
    url('../../fonts/web/Manrope-Regular.woff') format('woff');
}
* {
  font-family: Manrope;
}
