
/* Changes the syle of the table contaning the customer information */
.diasplayTable {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 10px;
  }  

/* Changes the syle of the table-square */
td {
    padding: 8px 20px 8px 20px;
    text-align: left;
  }

/* Changes the syle of the rows in the table */
.rad{
    background-color: white;
    box-shadow: 0px 0px 6px lightgray;
  }

/* Changes the syle of the rows in the table when hover*/
.rad:hover {
  background-color:#f5f5f5;
}