/**/
.page {
  margin-top: 100px;
}

/* Styles the loginDiv*/
.loginDiv {
  position: absolute;
  bottom: 20%;
  width: 150px;
}

/* Styles the login button*/
.login {
  border-radius: 25px;
  background: #73ad21;
  width: 100%;
  height: 50px;
}

/* Styles the text under the login button*/
.loginText {
  font-size: 10px;
  text-align: center;
}

.test {
  background-color: black;
}

Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
  color: black;
  padding: 40px 200px;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
