.h1-style {
  font-size: 100px;
}

.h1-color {
  color: antiquewhite;
}

.add-padding {
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
}

.add-margins {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.margin-right {
  margin-right: 2%;
  width: 98%;
}

.add-margins-under {
  margin-bottom: 10em;
}

div.small-margin-over {
  margin-top: 1em;
}

.H100 {
  height: 100%;
}

.W100 {
  width: 100%;
}

.Loader {
  text-align: center;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  Searchbox
*/
.search {
  background: url('../../bilder/searchIcon.png') 12em center no-repeat;
  background-size: 20px;
  background-color: white;
  color: #063752;
  border: none;
  padding: 0.5em;
  padding-left: 1em;
  border-radius: 50px 50px 50px 50px;
  width: 12.5em;
}

.search::placeholder {
  color: #063752;
}

.search:focus {
  box-shadow: 0px 0px 0px 2px #063752;
  outline: none;
  border: none;
}

/* Styles displayboxes */
.displayInfoDiv {
  background-color: white;
  color: #063752;
  /* width: 100%; */

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;

  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.displayInfoDiv h3 {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.addMarginLeft {
  margin-left: 1em;
}

.color-dark {
  color: #063752;
}

.listStyle {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.heading {
  padding-top: 1em;
  margin-top: 0;
}

/* Dropdown Select */

select {
  background-color: white;
  border: white;
  padding: 0.5em;
  color: #063752;
}
