.mail {
}

.smallText {
  font-size: 0.8em;
}

.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 10px;
}

.name {
  max-width: 10em;
  word-wrap: break-word;
}

.alert {
  height: 10px;
  width: 10px;
  background-color: #62b3e5;
  margin: auto;
  margin-left: 0.5em;
}
