.startDocumentUnderNavbar {
  padding-top: 3em;
}

/* Add background color to the top navigation, and set size */
.topnav {
  background-color: white;
  overflow: hidden;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
}

.topnav a {
  font-weight: bold;
  color: #063752;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
}

.topnav .Link:hover {
  color: white;
  background-color: #063752;
  cursor: pointer;
}

.topnav #hidden {
  display: flex;
}

.contents {
  display: flex;
}

/*Login/out button*/
.coloredNavButton button {
  color: #ffffff;
  background: #015b97;
  font-weight: bold;
  border: none;
  padding: 1em;
}

.coloredNavButton button:hover {
  background: #063752;
}

/*hides the hamburgermenu */
.hamburgermenu {
  display: none;
}

@media only screen and (max-width: 1750px) {
  .topnav .left a {
    font-size: 1em;
  }

  .topnav .contents .links a {
    font-size: 1em;
  }

  .coloredNavButton button {
    font-size: 1em;
  }
}

@media only screen and (max-width: 770px) {
  .contents {
    display: none;
  }

  .hamburgermenu {
    display: flex;
  }

  .topnav #hidden {
    position: fixed;
    overflow: hidden;
    left: 0px;
    top: 48px;
    height: 400px;
    max-height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .topnav #hidden .links {
    padding-left: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: none;
  }
  .topnav #hidden .coloredNavButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    padding: none;
  }

  .topnav #hidden a {
    margin: 5px;
    font-size: 25px;
    padding-right: 10px;
    z-index: 3;
  }

  .topnav #hidden button {
    margin-left: -5px;
    margin-top: 50px;
    font-size: 25px;
    padding-right: 10px;
    z-index: 2;
  }
}

@media only screen and (max-width: 430px) {
  .topnav #hidden a {
    margin-top: 60px;
    font-size: 10px;
  }

  .topnav #hidden button {
    margin-top: 0px;
    font-size: 10px;
  }

  .topnav #hidden {
    height: 110px;
    max-height: 110px;
  }
}

.logo {
  height: 30px;
  padding-top: 10px;
}

.Open {
  height: 30px;
  padding-top: 10px;
}

.langSel {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-left: 15px;
}
