/* Add background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0BC4DE;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: black;
  }

  /* Adjust positioning and move right-section to right*/

  .right {
      float:right;
  }