/* Styles the title. */
.title {
  font-size: 50px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Alligns text. */
.t {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Styles whole component. */
.page {
  margin: auto;
  width: 50%;
  padding: 10px;
}
