.employeeDisplay {
}

.employeeDisplay ul {
  list-style-type: none;
  padding-left: 0;
}

.rotate90 {
  transform: rotate(90deg);
  background-color: white;
  border: none;
}

.rotate90:hover {
  background-color: #063752;
  color: white;
}
